.dropdown:not(.just-UL-LI) {
  border-radius: var(--br-btn, 10px);
  border: 1px solid var(--btn);
  box-shadow: 0 8px 15px rgba(54, 54, 54, 0.288);
  backdrop-filter: blur(20px);
  min-width: 200px;
  z-index: 50;
  background-color: var(--white);
}

.dropdown:not(.p-0) {
  padding: .5em;
}

.dropdown ul {
  @apply space-y-1;
} 

.dropdown ul li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.dropdown ul li:not(.nohover):active {
  transform: scale(0.90);
}

.dropdown ul hr {
    opacity: 50%;
}


.dropdown ul li:not(.nohover):hover {
  background-color: rgba(131, 131, 131, 0.15);
}

.dropdown.color ul li:hover {
  background-color: rgba(255, 255, 255, 0.15);
}