
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans.ttf') format('truetype');
}
