body.phone {
  --mrl: 0;
  --mlr: 0;
  --mt: 4em;
}

body.phone .phone-hidden,
body.phone .phone-hidden-flex {
  display: none !important;
}

body.phone .phone-show {
  display: block !important;
}

body.phone .phone-show-flex {
  display: flex !important;
}

body:not(.phone) .phone-hidden {
  display: block !important;
}

body:not(.phone) .phone-hidden-flex {
  display: flex !important;
}

body:not(.phone) .phone-show,
body:not(.phone) .phone-show-flex {
  display: none !important;
}

body.xsdesktop {
  --mrl: 24vw;
  --mlr: 0;
}

body.lgdesktop {
  --mrl: 18%;
  --mlr: 18%;
}

body.xldesktop {
  --mrl: 22%;
  --mlr: 22%;
}
