
:root {

    --bg: black;
    --bg2: black;
    --text: black;
    --btn: #F28C28;

    --br-main: 24px;
    --br-card: 16px;
    --br-btn: 12px;
    --br-tag: 8px;

    --mrl: 1rem;

}

body.lgdesktop {
  --mrl: 15%;
}

body.xldesktop {
  --mrl: 25%;
}

body.dark {
  --bg:  #2A2420;
  --bg2: #3A322D;
  --text: #FFF8F0;
}


body.light {
    --bg: #FFF8F0;
    --bg2: #fff5e8;
    --text: #3B3B3B;
}
