
:root {

    --bg: black;
    --bg2: black;
    --white: #FFF;
    --text: black;
    --text-strong: black;
    --text-little: black;
    --shadow: #333333;
    --btn: #F28C28;
    --btn-hover: #ea580c;

    --br-main: 24px;
    --br-card: 16px;
    --br-btn: 12px;
    --br-tag: 8px;

    --mrl: 1em;
    --mlr: 1em;
    --mt: 1em;

}

body.dark {
    --bg: #121212; 
    --bg2: #1E1E1E; 
    --white: #252525; 
    --text: #fff; 
    --text-strong: #FFFFFF; 
    --text-little: #A0A0A0; 
    --shadow: #000000CC;
}


body.light {
    --bg: #FFF8F0;
    --bg2: #FFF3E0;
    --white: #FFF;
    --text: #000;
    --text-strong: rgb(51, 51, 51);
    --text-little: #6e6e6ea2;
    --shadow: #33333381;
}
