.tiptap {
  font-size: .9em;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-break: normal;
  overflow-wrap: anywhere;
  white-space: normal;
  hyphens: none;
  
}


.tiptap .ytb-viewer {
  width: 100%;
}

.tiptap img,
.tiptap .ytb-viewer {
  border-radius: 12px;
}


.tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5, .tiptap h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tiptap h1 {
  font-size: 1.8rem;
}

.tiptap h2 {
  font-size: 1.4rem;
}

.tiptap h3 {
  font-size: 1.2rem;
}

.tiptap ul, .tiptap ol {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.tiptap ul {
  list-style: disc;
}

.tiptap ol {
  list-style: decimal;
}

.tiptap hr {
  height: 2px;
  background-color: #D96E30;
  border: none;
}

.tiptap blockquote {
  border-left: 4px solid #D96E30;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
  margin: 1rem 0;
}

.tiptap a {
    text-decoration: underline;
    color: #555;
    cursor: pointer;
}

.tiptap code {
  color: var(--btn); 
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
  white-space: pre-wrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tiptap p {
  margin-top: 1em;
  margin-bottom: 1em;
}
