.prose {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  word-break: normal;
  overflow-wrap: anywhere;
  white-space: normal;
  hyphens: none;
}

  .prose p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    color: var(--text-little);
    float: left;
    height: 0;
    pointer-events: none;
    font-style: italic;
    opacity: 0.6;
  }

.prose p {
  line-height: 1.6;
}

.prose .ytb-viewer {
  width: 100%;
}

.prose img,
.prose .ytb-viewer {
  border-radius: 12px;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.prose h1 { font-size: 1.8rem; }
.prose h2 { font-size: 1.4rem; }
.prose h3 { font-size: 1.2rem; }

.prose ul {
  list-style: disc;
}

.prose ol {
  list-style: decimal;
}

.prose ul,
.prose ol {
  padding-left: 1.5rem;
  margin: 0.5em 0;
  display: block;
  gap: 0.4em;
  list-style-position: outside;
}

.prose ul li,
.prose ol li {
  display: list-item;
  align-items: initial;
  gap: 0;
  padding: 0.2em 0;
  margin: 0;
}


.prose ul li::marker,
.prose ol li::marker {
  color: var(--btn);
}

.prose ul li p,
.prose ol li p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
}

.prose hr {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #D96E30;
  border: none;
}

.prose blockquote {
  border-left: 4px solid #D96E30;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
  margin: 1rem 0;
}

.prose a {
  text-decoration: underline;
  color: #555;
  cursor: pointer;
}

.prose code {
  color: var(--btn);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
  white-space: pre-wrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.prose p {
  margin-top: 1em;
  margin-bottom: 1em;
}
