.tiptap {

  .collaboration-carets__caret {
    position: relative;
    border-left: 2px solid var(--text-strong);
    border-right: 2px solid transparent;
    word-break: normal;
    pointer-events: none;
  }

  .collaboration-carets__label {
    position: absolute;
    top: -1.2em;
    left: -2px;
    
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 4px 0;
    
    color: #fff;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    user-select: none;
    z-index: 10;

  }
}

