
@import 'tailwindcss';

@import './assets/css/fonts.css';


body {
    background-color: #FFF8F0;
    color: #3B3B3B;
    overflow-x: hidden;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.left-arrow {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow {
  background-image: url('./assets/svgs/left_arrow.svg');
  filter: brightness(0) saturate(100%) invert(55%) sepia(65%) saturate(538%) hue-rotate(343deg) brightness(98%) contrast(98%);
}