@import "tailwindcss";

@import './assets/css/fonts.css';
@import './assets/css/theme.css';
@theme {
  --color-bg: var(--bg);
  --color-bg2: var(--bg2);
  --color-btn: var(--btn);
  --color-text: var(--text);
  --color-text-little: var(--text-little);
}

@import './assets/css/switch.css';
@import './assets/css/dropdown.css';
@import './assets/css/button.css';
@import './assets/css/ToolTip.css';
@import './assets/css/responsive.css';

p, span {
  font-family: 'PlusJakartaSans', sans-serif;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}



.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.shadow {
    box-shadow: 0 0 10px var(--shadow);
}


.left-arrow {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all .2s;
  background-image: url('./assets/svgs/left_arrow.svg');
}

.left-arrow:not(.white) {
  filter: brightness(0) saturate(100%) invert(55%) sepia(65%) saturate(538%) hue-rotate(343deg) brightness(98%) contrast(98%);
}

.white {
  filter: invert(1);
}

.left-arrow:hover {
  transform: scale(1.2);
}

a {
  cursor: pointer;
  border-radius: 5px;
  transition: all .2s;
}

a.p-1 {
  @apply px-2 py-1
}

a.px-1 {
  @apply px-1
}

a.px-2 {
  @apply px-2.5
}

a.px-4 {
  @apply px-4
}

a.rounded{
  @apply rounded-xl
}

a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.default-input {
  @apply w-full px-2 py-1 rounded-lg bg-(--white)/80 border border-[#F28C28]/40 focus:border-[#F28C28] outline-none
}

.default-input-p-0 {
  @apply w-full rounded-lg bg-(--white)/80 border border-[#F28C28]/40 focus:border-[#F28C28] outline-none
}

.default-input-border-0 {
  @apply w-full px-2 py-1 rounded-lg bg-(--white)/80 outline-none
}

.default-input-border-p-0,
.default-input-border-p-0 {
  @apply w-full rounded-lg bg-(--white)/80 outline-none
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.25s ease;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
}


@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.turn {
  animation: turn 0.8s linear infinite;
}


@keyframes bbounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.bounce {
  animation: bbounce 0.8s ease-in-out infinite;
}


.bounce-hover:hover {
  animation: bbounce 0.3s ease-in-out;
}


.rotating {
    animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.go-to-the-top-enter-active,
.go-to-the-top-leave-active {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.go-to-the-top-enter-from {
  transform: translateY(-40px);
  opacity: 0;
}

.go-to-the-top-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.go-to-the-top-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.go-to-the-top-leave-to {
  transform: translateY(-40px);
  opacity: 0;
}


select {
  @apply bg-(--white) text-(--text) cursor-pointer;
  transition: all .2s;
}



/* for emoji selector */
body .emoji-picker {
  border: 1px solid var(--border);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

  --background-color: var(--white);
  --popup-background-color: var(--white);
  --text-color: var(--text-strong);
  --border-color: var(--btn);
  --hover-color: var(--bg2);
  --blue-color: var(--btn);

  --dark-background-color: var(--white);
  --dark-popup-background-color: var(--white);
  --dark-text-color: var(--text-strong);
  --dark-border-color: var(--btn);
  --dark-hover-color: var(--bg2);
  --dark-category-button-color: var(--text-strong);
  --dark-search-background-color: var(--bg1);
  --dark-search-focus-border-color: var(--btn);
}
body .emoji-picker__search {
  border-radius: 8px !important;

}